
//primary
$orange-color: hsl(31, 77%, 52%);
$cyan-color: hsl(184, 100%, 22%);
$dark-cyan-color: hsl(179, 100%, 13%);

//neutral
$white-color: hsla(0, 0%, 100%, 0.75); //paragraphs
$gray: hsl(0, 0%, 95%); //background, headings, buttons
