@import "config/colors";
@import "config/fonts";
@import "components/buttons";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3);
  // repeat : répète X fois la taille voulu
  // auto-fit : varie le nombre de colonnes avec la largeur
  // minmax : définit une taille plus grand ou égale au minimum
  // et moins grande ou égale au maximum
  max-width: 990px;
  padding-left: 16px;
  padding-right: 16px;
  @media(max-width: 931px) {
    grid-template-columns: 1fr;
    max-width: 330px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.card-orange {
  background-color: $orange-color;
  border-radius: 8px 0px 0px 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  @media(max-width: 931px) {
    border-radius: 8px 8px 0px 0px;
  }
}
.card-cyan {
  background-color: $cyan-color;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.card-dark-cyan {
  background-color: $dark-cyan-color;
  border-radius: 0px 8px 8px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  @media(max-width: 931px) {
    border-radius: 0px 0px 8px 8px;
  }
}
